body {
    padding-top: 60px; /* ヘッダーの高さ分の余白をいれ、うしろの要素が隠れないようにする */
}

/******* ヘッダーのスタイル ********/
header {
    position: fixed; /*** ← fixedで固定 ***/
    width: 100%; 
    height: 60px; 
    background: #87b5f6; 
    padding: 20px 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
}

header .nav .menu {
    display: flex; 
}

header .nav .menu li {
    list-style: none; 
    margin-left: 40px;
}

header .nav .menu li a{
   color: #f9f1e3;
   font-weight:bold;
   text-decoration: none;
}

/******* ここからメインエリアのスタイル ********/
.container {
  width: 100%;　/*画面に対しての横*/
  height: 400px; /*下方向の長さ*/
  display: flex;
  gap: 10px; /* Flexアイテム間の隙間を10pxに設定 */
}
  /* 右側 */
  .body {
    width: 80%;
    background-color: rgb(248, 248, 201);
    padding-left: 10px; /* 左側に10pxのパディングを設定 */
    display: flex;
    flex-wrap: wrap; 
  }
  /* 左側 */
  .side {
    width: 20%;
    background-color: rgb(247, 206, 213);
    line-height: 2; /* 行間設定 */
    text-align: center; /* テキストの中央揃え */
    padding: 10px;
  }

  .side .button {
    display: inline-block;
    padding: 5px 40px; /* ボタンの余白設定 */
    margin-top: 5px;
    background-color: #f78ca0; /* ピンクの背景色 */
    color: #060606;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* ホバー時のトランジション設定 */
}

.side .button:hover {
    background-color: #d6708b; /* ホバー時の背景色 */
}


.side .button.button-new {
  display: inline-block;
  padding: 5px 40px;
  margin-top: 5px;
  background-color: #fd82f1;
  color: #060606;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.side .button.button-new:hover {
  background-color: #9c2b90;
}
  

  /* 授業一覧の表示について */
  .wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .item {
    width: calc((80% - 30px * 2) / 3);
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px; 
    box-sizing: border-box;
  }

    
  @media not all and (min-width: 768px) {
    .item {
      width: 100%;
    }
  }
  
  .item img {
    max-width: 100%; /* コンテナの幅に合わせて画像を縮小 */
    height: auto; /* アスペクト比を保つために自動調整 */
    display: block; /* インライン要素としてではなく、ブロック要素として扱う */
    margin-bottom: 10px; /* 画像の下に余白を設定 */
}


/* mainのとこのボタン */
  .item a:hover {
    background-color: #0056b3; /* ホバー時の背景色を変更 */
}

.item a {
  display: inline-block; /* インラインブロック要素にする */
  text-align: center; /* テキストを中央揃えにする */
  padding: 10px 10px; /* 上下に余白を設定 */
  margin-top: 5px; /* 上部に余白を設定 */
  background-color: #8ec3fd; /* 背景色を設定 */
  color: #060606; /* テキスト色 */
  text-decoration: none; /* リンクの下線を消す */
  border-radius: 5px; /* 角丸にする */
}




/******* 新規登録,授業内容修正のスタイル ********/

.form-group label {
  display: block; /* ラベルをブロック要素として表示 */
  margin-bottom: 5px; /* ラベルとフォーム入力の間隔を設定 */
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 30%; /* 入力フィールドを設定 */
  padding: 5px; /* 入力フィールドの余白を設定 */
  font-size: 16px; /* フォントサイズを設定 */
  margin-top: 50; /* 上部の余白設定 */
}

form {
  margin-top: 20px; /* フォームと前の要素との間隔を設定 */
}

form h2 {
  margin-bottom: 20px; /* タイトルとフォーム間の間隔を設定 */
}


.form-group textarea {
  height: 50px; /* テキストエリアの高さを設定 */
}

button[type="submit"] {
  margin-top: 20px; /* 送信ボタンと前の要素との間隔を設定 */
  padding: 10px 30px; /* 送信ボタンの余白を設定 */
  font-size: 16px; /* フォントサイズを設定 */
  background-color: #007bff; /* 背景色を設定 */
  color: #fff; /* テキスト色を設定 */
  border: none; /* ボーダーをなしに設定 */
  border-radius: 5px; /* 角丸にする */
  cursor: pointer; /* カーソルをポインターに変更 */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* ホバー時の背景色を変更 */
}




/******* 日時設定のスタイル ********/
.datetime-row {
  margin-bottom: 10px;
}
.datetime-row input[type="date"],
.datetime-row input[type="time"] {
  margin-right: 10px;
}
.remove-btn {
  margin-left: 10px;
}
